# Local API URL
LOCAL_API_URL=http://localhost:3000/api
NEXT_PUBLIC_URL=http://localhost:3000

# Get your API key from https://graphhopper.com/dashboard/#/api-keys
GRAPHHOPPER_API_KEY=your_graphhopper_api_key
LOCATIONIQ_API_KEY=your_locationiq_api_key

# Supabase
SUPABASE_KEY=your_supabase_key
NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

# Upstash Redis
UPSTASH_REDIS_REST_URL=your_upstash_redis_rest_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_rest_token
