:root,
.dark {
  --radius: var(--bdsCornerRadiusButton);
  --background: var(--colorWhite);
  --foreground: var(--colorNeutralPrimary);
  --card: var(--colorWhite);
  --card-foreground: var(--colorNeutralPrimary);
  --popover: var(--colorWhite);
  --popover-foreground: var(--colorNeutralPrimary);
  --primary: var(--colorBrandPrimary);
  --primary-foreground: var(--colorOnInteractionPrimary);
  --secondary: var(--colorNeutralSurface);
  --secondary-foreground: var(--colorNeutralPrimary);
  --muted: var(--colorNeutralSurface);
  --muted-foreground: var(--colorNeutralSecondary);
  --accent: var(--colorBrandHighlight);
  --accent-foreground: var(--colorNeutralPrimary);
  --destructive: var(--colorError);
  --destructive-foreground: var(--colorWhite);
  --border: var(--colorNeutralBorder);
  --input: var(--colorNeutralBorder);
  --ring: var(--colorInteractionFocus);
  --chart-1: var(--colorBrandPrimary);
  --chart-2: var(--colorInformation);
  --chart-3: var(--colorSuccess);
  --chart-4: var(--colorWarning);
  --chart-5: var(--colorDealPrimary);
  --sidebar: var(--colorWhite);
  --sidebar-foreground: var(--colorNeutralPrimary);
  --sidebar-primary: var(--colorBrandPrimary);
  --sidebar-primary-foreground: var(--colorOnInteractionPrimary);
  --sidebar-accent: var(--colorBrandHighlight);
  --sidebar-accent-foreground: var(--colorNeutralPrimary);
  --sidebar-border: var(--colorNeutralBorder);
  --sidebar-ring: var(--colorInteractionFocus);
  --colorBrandGrayedout: rgb(234, 129, 174);
  --colorBrandPrimaryDark: #c21760;
  --colorBrandHighlightLvl1: #fdf2f7;
  --colorLinearGradient1: #ff2b85;
  --colorLinearGradient2: #a11350;
  --colorRatingHighlight: rgb(233, 240, 248);
  --colorRatingTagText: #333333;
  --colorDealHighlightLvl1: #ffebeb;
  --colorDealHighlightLvl2: #ffdddd;
  --colorDealTertiary: #ffc4cc;
  --bdsColorSurfaceLoyaltyLow: #fff4dd;
  --bdsColorSurfaceInteractionDisabled: #d3d5d7;
  --bdsColorSurfaceSkeleton: #e8e9ea;
  --bdsColorSurfaceSkeletonHighlighted: #ffffff;
  --bdsColorSurfaceTagPrimaryPressed: #c21760;
  --bdsColorSurfaceTagNeutral: #090c0f;
  --bdsColorSurfaceTagSecondaryPressed: #ffdddd;
  --bdsColorSurfaceProPressed: #452c63;
  --bdsColorSurfaceProGradientLow: linear-gradient(
    180deg,
    #fcf3fe 0%,
    #ffffff 100%
  );
  --bdsColorSurfaceProLowPressed: #dec0eb;
  --bdsColorSurfacePopularPressed: #ffe9b8;
  --bdsColorSurfaceInformationLowPressed: #dfedf7;
  --bdsColorSurfaceErrorLowPressed: #ffe3db;
  --bdsColorSurfaceSuccessPressed: #357258;
  --bdsColorSurfaceBestCityPressed: #090c0f;
  --bdsColorSurfacePromobanner: #e21b70;
  --bdsColorSurfacePromobannerLow: #ffdddd;
  --bdsColorSurfacePromobannerPro: #5c1d94;
  --bdsColorSurfaceBrandPrimaryLowGradientStart: #ffdddd;
  --bdsColorSurfaceBrandPrimaryLowGradientEnd: #ffffff;
  --bdsColorSurfaceBrandPrimaryLowGradient: linear-gradient(
    180deg,
    #ffdddd 0%,
    #ffffff 100%
  );
  --bdsColorSurfaceDealLowGradientStart: #ffebeb;
  --bdsColorSurfaceDealLowGradientEnd: rgba(255, 235, 235, 0);
  --bdsColorSurfaceDealLowGradient: linear-gradient(
    180deg,
    #ffebeb,
    rgba(255, 235, 235, 0)
  );
  --bdsColorSurfaceSupervendorLow: #ffebeb;
  --bdsColorSurfaceSupervendorLowPressed: #ffdddd;
  --bdsColorSurfaceSupervendorLowShimmer: #ffedc6;
  --bdsColorSurfaceExternalbrandSgroupLow: #ffffff;
  --bdsColorSurfaceNotification: #e21b70;
  --bdsColorSurfaceNotificationReversed: #ffffff;
  --bdsColorSurfaceAccentLowGradientStart: #fff4dd;
  --bdsColorSurfaceAccentLowGradientEnd: #ffffff;
  --bdsColorSurfaceAccentLowGradient: linear-gradient(
    180deg,
    #fff4dd 0%,
    #ffffff 100%
  );
  --bdsColorSurfaceNeutralGradientStart: #f7f8f8;
  --bdsColorSurfaceNeutralGradientEnd: rgba(247, 248, 248, 0);
  --bdsColorSurfaceNeutralGradient: linear-gradient(
    180deg,
    #f7f8f8 0%,
    rgba(247, 248, 248, 0) 100%
  );
  --bdsColorIconLoyaltyLow: #ffe4aa;
  --bdsColorIconLoyalty: #976700;
  --bdsColorIconPromobanner: #ffffff;
  --bdsColorIconPromobannerOnLow: #39434d;
  --bdsColorIconSupervendor: #e03000;
  --bdsColorIconPromobannerOnPro: #ffffff;
  --bdsColorIconExternalbrandSgroupLow: #ffffff;
  --bdsColorIconPopular: #ff5f33;
  --bdsColorBorderLoyaltyLow: #ffe9b8;
  --bdsColorBorderLoyalty: #976700;
  --bdsColorBorderExternalbrandSgroupLow: #ffffff;
  --bdsColorBorderDivider: #e8e9ea;
  --bdsColorBorderDividerLow: #f7f8f8;
  --bdsColorBorderDividerReversed: rgba(255, 255, 255, 0.3);
  --bdsColorTextLoyalty: #976700;
  --bdsColorTextPromobanner: #ffffff;
  --bdsColorTextPromobannerOnLow: #39434d;
  --bdsColorTextPromobannerOnPro: #ffffff;
  --bdsColorTextNotification: #ffffff;
  --bdsColorTextNotificationReversed: #e21b70;
  --bdsColorTextTagOnNeutral: #ffffff;
  --bdsStrokeStatic: 0.5px;
  --bdsStrokeInteractiveSubtle: 0.5px;
  --bdsStrokeDivider: 1px;
  --bdsStrokeElevated: 1px;
  --bdsStrokeInput: 1px;
  --bdsStrokeInputFocus: 1.5px;
  --bdsStrokeInteractive: 1px;
  --bdsStrokeSelection: 1.5px;
  --bdsStrokeIcon: 1.5px;
  --bdsStrokeInteractiveHover: 1.5px;
  --bdsStrokeInteractiveFocus: 2px;
  --bdsStrokeNavigation: 4px;
  --colorNeutralPrimary: #2e3138;
  --colorNeutralSecondary: #6b7175;
  --colorNeutralInactive: #b7babc;
  --colorNeutralBorder: #d3d5d7;
  --colorNeutralDivider: #e8e9ea;
  --colorNeutralSurface: #f7f8f8;
  --colorWhite: #ffffff;
  --colorTransparent: rgba(255, 255, 255, 0);
  --colorInteractionPrimary: #e21b70;
  --colorInteractionPrimaryHover: #c21760;
  --colorInteractionSecondary: #2e3138;
  --colorInteractionSecondarySelected: #2e3138;
  --colorInteractionSecondaryHover: #090c0f;
  --colorInteractionSecondaryInactive: #6b7175;
  --colorInteractionSecondaryBorder: #d3d5d7;
  --colorInteractionSecondaryFeedback: #f7f8f8;
  --colorInteractionSecondaryHighlight: #f7f8f8;
  --colorInteractionTertiary: #f77c99;
  --colorInteractionPrimaryFeedback: #ffebeb;
  --colorOnInteractionPrimary: #ffffff;
  --colorOnInteractionPrimaryHover: #ffffff;
  --colorOnInteractionSecondary: #2e3138;
  --colorOnInteractionSecondaryHover: #090c0f;
  --colorInteractionBackgroundHover: #ffebeb;
  --colorInteractionFocus: #ff2b85;
  --colorInteractionFocusReversed: #ffebeb;
  --colorInteractionReversedWhiteOpacity15: rgba(255, 255, 255, 0.15);
  --colorInteractionReversedWhiteOpacity30: rgba(255, 255, 255, 0.3);
  --colorInteractionReversedWhiteOpacity50: rgba(255, 255, 255, 0.5);
  --colorInteractionDisabled: #d3d5d7;
  --colorOnInteractionDisabled: #b7babc;
  --colorBrandPrimary: #ff2b85;
  --colorBrandSecondary: #6b7680;
  --colorBrandDark: #c21760;
  --colorBrandHighlight: #ffdddd;
  --colorGradientLight: #ff2b85;
  --colorGradientDark: #e21b70;
  --colorGradientBrand: linear-gradient(90deg, #ff2b85 0%, #e21b70 100%);
  --colorInformation: #25537c;
  --colorError: #bb2800;
  --colorSuccess: #3c8264;
  --colorWarning: #fcc54c;
  --colorInformationHighlight: #dfedf7;
  --colorErrorHighlight: #ffe3db;
  --colorSuccessHighlight: #cbe7db;
  --colorWarningHighlight: #feefcd;
  --colorSuccessGradientTop: #f0f5f3;
  --colorSuccessGradientBottom: rgba(240, 245, 243, 0);
  --colorSuccessGradient: linear-gradient(
    90deg,
    #f0f5f3,
    rgba(240, 245, 243, 0)
  );
  --colorDealSecondary: #f77c99;
  --colorDealPrimary: #c21760;
  --colorDealBannerText: #c21760;
  --colorDealTextOnWhite: #e21b70;
  --colorPriceEmphasis: #090c0f;
  --colorRating: #ffb413;
  --colorRatingBackground: #ffc4cc;
  --colorRatingFeedbackBackground: #ffebeb;
  --colorRatingFeedbackActive: #e21b70;
  --colorRatingOutline: #e03000;
  --deprecatedColorPopularIcon: #ffb413;
  --deprecatedColorTagBestCityBackground: #171f26;
  --deprecatedColorTagBestCityText: #ffffff;
  --deprecatedColorInteractionTextHover: #c21760;
  --deprecatedColorInfoBannerCta: #c21760;
  --deprecatedColorExpTimerBgCover: #c21760;
  --deprecatedColorExpTimerDigitCover: #ffffff;
  --deprecatedColorTiersSubtitleText: #ffffff;
  --deprecatedColorTier3SubtitleText: #ffffff;
  --deprecatedColorTier1Tile: #6b7175;
  --deprecatedColorTier2Tile: #c21760;
  --deprecatedColorTier3Tile: #171f26;
  --deprecatedColorHowItWorksText: #c21760;
  --deprecatedColorHowItWorksIconBg: #c21760;
  --deprecatedColorTimerDigit: #ffffff;
  --deprecatedColorNextTiersText: #ffffff;
  --deprecatedColorNextTier3Text: #ffffff;
  --deprecatedColorDefaultTier: #ffffff;
  --deprecatedColorRdpSheetTier1: #ff2b85;
  --deprecatedColorRdpSheetTier2: #c21760;
  --deprecatedColorRdpSheetTier3: #171f26;
  --deprecatedColorRdpSheetTier4: #6b7175;
  --deprecatedColorStarBgTier1: #ff2b85;
  --deprecatedColorStarBgTier2: #c21760;
  --deprecatedColorStarBgTier3: #171f26;
  --deprecatedColorRdpSheetTierTextBg1: #ffebeb;
  --deprecatedColorRdpSheetTierTextBg2: #ffebeb;
  --deprecatedColorRdpSheetTierTextBg3: #e3e6e8;
  --deprecatedColorRdpSheetTierTextBg4: #d3d5d7;
  --deprecatedColorNextTier1Rdp: #ff2b85;
  --deprecatedColorNextTier2Rdp: #c21760;
  --deprecatedColorNextTier3Rdp: #171f26;
  --deprecatedColorNextTier4Rdp: #6b7175;
  --deprecatedColorPopupText: #ffffff;
  --deprecatedColorExpDealBg: #c21760;
  --deprecatedColorExpDealText: #ffffff;
  --deprecatedColorExpStarBgDefault: #d3d5d7;
  --deprecatedColorExpStarBgActive: #e21b70;
  --deprecatedColorExpFooterTextDefault: #6b7175;
  --deprecatedColorExpFooterTextActive: #e21b70;
  --deprecatedColorExpTimerContainer: #ffffff;
  --deprecatedColorExpFooterTimerBg: #e21b70;
  --deprecatedColorExpFooterTimerDigit: #ffffff;
  --deprecatedColorExp2DiscountBg: #c21760;
  --deprecatedColorSpecial1: #ffc4cc;
  --deprecatedColorSpecial2: #f77c99;
  --deprecatedColorSpecial3: #ff2b85;
  --deprecatedColorSpecial4: #e3e6e8;
  --deprecatedColorSpecial5: #b9c0c6;
  --deprecatedColorSpecial6: #919da6;
  --deprecatedColorSpecial7: #171f26;
  --deprecatedColorProMemberHoverBackground: #ffdddd;
  --deprecatedColorProMemberTextActive: #c21760;
  --deprecatedColorDiscountHoverBackground: #ffdddd;
  --deprecatedColorDiscountTextActive: #c21760;
  --deprecatedColorLoyaltyHoverBackground: #ffe4aa;
  --deprecatedColorLoyaltyTextIdle: #090c0f;
  --deprecatedColorLoyaltyTextActive: #090c0f;
  --deprecatedColorLoyaltyIcon: #090c0f;
  --deprecatedColorProHoverBackground: #e8e9ea;
  --deprecatedColorProTextActive: #c21760;
  --deprecatedColorIlluSecondaryDark: #6b7680;
  --deprecatedColorIlluSecondary75: #f77c99;
  --deprecatedColorIlluSecondary50: #ffc4cc;
  --deprecatedColorIlluSecondary30: #ffdddd;
  --deprecatedColorIlluSecondary20: #ffd271;
  --deprecatedColorIlluSecondary15: #ffedc6;
  --deprecatedColorIlluSecondary10: #e3e6e8;
  --deprecatedColorTileNavigationPrimary800: #e21b70;
  --deprecatedColorTileNavigationPrimary700: #ff2b85;
  --deprecatedColorTileNavigationPrimary600: #f77c99;
  --deprecatedColorTileNavigationPrimary500: #ffc4cc;
  --deprecatedColorTileListPrimary400: #ffdddd;
  --deprecatedColorTileListPrimary300: #ffdddd;
  --deprecatedColorTileListPrimary200: #ffdddd;
  --deprecatedColorTileListPrimary100: #ffdddd;
  --deprecatedColorTileNavigationSecondary800: #ffd271;
  --deprecatedColorTileNavigationSecondary700: #ffdb8d;
  --deprecatedColorTileNavigationSecondary600: #ffe4aa;
  --deprecatedColorTileNavigationSecondary500: #ffe9b8;
  --deprecatedColorTileListSecondary400: #ffe9b8;
  --deprecatedColorTileListSecondary300: #ffe9b8;
  --deprecatedColorTileListSecondary200: #ffe9b8;
  --deprecatedColorTileListSecondary100: #ffe9b8;
  --deprecatedColorTileNavigationTertiary800: #919da6;
  --deprecatedColorTileNavigationTertiary700: #b9c0c6;
  --deprecatedColorTileNavigationTertiary600: #c7cdd1;
  --deprecatedColorTileNavigationTertiary500: #e3e6e8;
  --deprecatedColorTileListTertiary400: #f0f2f2;
  --deprecatedColorTileListTertiary300: #f0f2f2;
  --deprecatedColorTileListTertiary200: #f0f2f2;
  --deprecatedColorTileListTertiary100: #f0f2f2;
  --colorProPrimary: #5c1d94;
  --colorProGradientStart: #6e3dab;
  --colorProGradientEnd: #5c1d94;
  --colorProGradient: linear-gradient(90deg, #6e3dab 0%, #5c1d94 100%);
  --colorProDealHighlight1: #fcf3fe;
  --colorProDealHighlight2: #efddf5;
  --colorProDealHighlight3: #c69adf;
  --colorProDealHighlight4: #5c1d94;
  --colorOnProHighlight: #452c63;
  --colorTagDealBackground: #e21b70;
  --colorTagDealText: #ffffff;
  --colorRatingLightTagIcon: #ffffff;
  --colorRatingLightTagText: #ffffff;
  --colorTagPrimaryText: #ffffff;
  --colorTagPrimaryBackground: #e21b70;
  --colorPopularHighlight: #ffedc6;
  --colorPopularTagText: #090c0f;
  --colorPopularTagIcon: #090c0f;
  --colorTagSponsoredBackground: rgba(9, 12, 15, 0.64);
  --colorTagSuccessText: #ffffff;
  --colorTagSecondaryText: #c21760;
  --colorTagSecondaryBackground: #ffdddd;
  --colorTagDietaryVegan: #357258;
  --colorTagDietaryVeganBackground: #f0f5f3;
  --colorTagDietaryVegetarian: #357258;
  --colorTagDietaryVegetarianBackground: #f0f5f3;
  --colorTagDietarySpicy: #bb2800;
  --colorTagDietarySpicyBackground: #fdefeb;
  --colorTagDietaryKids: #c21760;
  --colorTagDietaryKidsBackground: #ffebeb;
  --colorDark4: rgba(9, 12, 15, 0.04);
  --colorDark64: rgba(9, 12, 15, 0.64);
  --colorDark80: rgba(9, 12, 15, 0.8);
  --colorLight80: rgba(255, 255, 255, 0.8);
  --colorLight56: rgba(255, 255, 255, 0.56);
  --colorAltScreenSurface: #ffffff;
  --colorSurfaceGradientTop: #ffebeb;
  --colorSurfaceGradientBottom: rgba(255, 235, 235, 0);
  --colorSurfaceGradient: linear-gradient(
    180deg,
    #ffebeb 0%,
    rgba(255, 235, 235, 0) 100%
  );
  --colorItemModifierRequiredBackground: #ffebeb;
  --colorItemModifierRequiredHover: #ffdddd;
  --colorItemModifierRequiredPopular: #ffc4cc;
  --colorSocialMediaFacebook: #1877f2;
  --colorSocialMediaFacebookHover: #1364ce;
  --colorFocusRingLight: #b2e2f0;
  --colorFocusRingDark: #0067a0;
  --colorMainText: #c21760;
  --colorTimerBg: #c21760;
  --colorGenericBg: #ffdddd;
  --colorExp2GenericBg: #ffebeb;
  --colorTabsquarePrimary: #333333;
  --colorYuuPrimary: #307fe2;
  --colorKlarnaPink: #ffa8cd;
  --colorKlarnaOffWhite: #f9f8f5;
  --colorKlarnaBlack: #0b051d;
  --colorSgroupPrimary: #ffffff;
  --bdsCornerRadiusBase: 8px;
  --bdsCornerRadiusContainer: 12px;
  --bdsCornerRadiusContainerPressed: 16px;
  --bdsCornerRadiusContainerEdge: 16px;
  --bdsCornerRadiusMedia: 8px;
  --bdsCornerRadiusOverlay: 16px;
  --bdsCornerRadiusButton: 8px;
  --bdsCornerRadiusButtonPressed: 12px;
  --bdsCornerRadiusBasePressed: 12px;
  --bdsCornerRadiusField: 12px;
  --bdsCornerRadiusFieldPressed: 16px;
  --bdsCornerRadiusSwitch: 8px;
  --bdsCornerRadiusPill: 9999px;
  --bdsCornerRadiusMini: 4px;
  --bdsCornerRadiusCircle: 9999px;
  --bdsTypographyBgLargeFontFamily: "Open Sans";
  --bdsTypographyBgLargeFontSize: 10rem;
  --bdsTypographyBgLargeFontWeight: 700;
  --bdsTypographyBgLargeLineHeight: 1.3;
  --bdsTypographyBgMediumFontFamily: "Open Sans";
  --bdsTypographyBgMediumFontSize: 7.5rem;
  --bdsTypographyBgMediumFontWeight: 700;
  --bdsTypographyBgMediumLineHeight: 1.3;
  --bdsTypographyBgSmallFontFamily: "Open Sans";
  --bdsTypographyBgSmallFontSize: 5rem;
  --bdsTypographyBgSmallFontWeight: 700;
  --bdsTypographyBgSmallLineHeight: 1.3;
  --bdsTypographyTitleXxlargeFontFamily: "PP Agrandir";
  --bdsTypographyTitleXxlargeFontSize: 2.5rem;
  --bdsTypographyTitleXxlargeFontWeight: 900;
  --bdsTypographyTitleXxlargeLineHeight: 1.3;
  --bdsTypographyTitleXxlargeFontFeatureSettings: "ss09", "ss11";
  --bdsTypographyTitleXlargeFontFamily: "PP Agrandir";
  --bdsTypographyTitleXlargeFontSize: 2rem;
  --bdsTypographyTitleXlargeFontWeight: 900;
  --bdsTypographyTitleXlargeLineHeight: 1.3125;
  --bdsTypographyTitleXlargeFontFeatureSettings: "ss09", "ss11";
  --bdsTypographyTitleXlargeSecondaryFontFamily: "PP Agrandir";
  --bdsTypographyTitleXlargeSecondaryFontSize: 2rem;
  --bdsTypographyTitleXlargeSecondaryFontWeight: 600;
  --bdsTypographyTitleXlargeSecondaryLineHeight: 1.3125;
  --bdsTypographyTitleXlargeSecondaryFontFeatureSettings: "ss09", "ss11";
  --bdsTypographyTitleLargeFontFamily: "PP Agrandir";
  --bdsTypographyTitleLargeFontSize: 1.5rem;
  --bdsTypographyTitleLargeFontWeight: 900;
  --bdsTypographyTitleLargeLineHeight: 1.333333333;
  --bdsTypographyTitleLargeFontFeatureSettings: "ss09", "ss11";
  --bdsTypographyTitleLargeSecondaryFontFamily: "PP Agrandir";
  --bdsTypographyTitleLargeSecondaryFontSize: 1.5rem;
  --bdsTypographyTitleLargeSecondaryFontWeight: 600;
  --bdsTypographyTitleLargeSecondaryLineHeight: 1.333333333;
  --bdsTypographyTitleLargeSecondaryFontFeatureSettings: "ss09", "ss11";
  --bdsTypographyTitleMediumFontFamily: "PP Agrandir";
  --bdsTypographyTitleMediumFontSize: 1.125rem;
  --bdsTypographyTitleMediumFontWeight: 700;
  --bdsTypographyTitleMediumLineHeight: 1.555555556;
  --bdsTypographyTitleMediumFontFeatureSettings: "ss09", "ss11";
  --bdsTypographyTitleMediumSecondaryFontFamily: "PP Agrandir";
  --bdsTypographyTitleMediumSecondaryFontSize: 1.125rem;
  --bdsTypographyTitleMediumSecondaryFontWeight: 600;
  --bdsTypographyTitleMediumSecondaryLineHeight: 1.555555556;
  --bdsTypographyTitleMediumSecondaryFontFeatureSettings: "ss09", "ss11";
  --bdsTypographyTitleSmallFontFamily: "PP Agrandir";
  --bdsTypographyTitleSmallFontSize: 1rem;
  --bdsTypographyTitleSmallFontWeight: 700;
  --bdsTypographyTitleSmallLineHeight: 1.5;
  --bdsTypographyTitleSmallFontFeatureSettings: "ss09", "ss11";
  --bdsTypographyLabelLargeFontFamily: "Open Sans";
  --bdsTypographyLabelLargeFontSize: 1rem;
  --bdsTypographyLabelLargeFontWeight: 600;
  --bdsTypographyLabelLargeLineHeight: 1.5;
  --bdsTypographyLabelMediumFontFamily: "Open Sans";
  --bdsTypographyLabelMediumFontSize: 0.875rem;
  --bdsTypographyLabelMediumFontWeight: 600;
  --bdsTypographyLabelMediumLineHeight: 1.571428571;
  --bdsTypographyLabelSmallFontFamily: "Open Sans";
  --bdsTypographyLabelSmallFontSize: 0.75rem;
  --bdsTypographyLabelSmallFontWeight: 600;
  --bdsTypographyLabelSmallLineHeight: 1.5;
  --bdsTypographyLabelSmallSecondaryFontFamily: "Open Sans";
  --bdsTypographyLabelSmallSecondaryFontSize: 0.75rem;
  --bdsTypographyLabelSmallSecondaryFontWeight: 400;
  --bdsTypographyLabelSmallSecondaryLineHeight: 1.5;
  --bdsTypographyLabelXsmallFontFamily: "Open Sans";
  --bdsTypographyLabelXsmallFontSize: 0.625rem;
  --bdsTypographyLabelXsmallFontWeight: 600;
  --bdsTypographyLabelXsmallLineHeight: 1.6;
  --bdsTypographyParagraphMediumFontFamily: "Open Sans";
  --bdsTypographyParagraphMediumFontSize: 1rem;
  --bdsTypographyParagraphMediumFontWeight: 400;
  --bdsTypographyParagraphMediumLineHeight: 1.5;
  --bdsTypographyParagraphSmallFontFamily: "Open Sans";
  --bdsTypographyParagraphSmallFontSize: 0.875rem;
  --bdsTypographyParagraphSmallFontWeight: 400;
  --bdsTypographyParagraphSmallLineHeight: 1.571428571;
  --bdsTypographyParagraphXsmallFontFamily: "Open Sans";
  --bdsTypographyParagraphXsmallFontSize: 0.75rem;
  --bdsTypographyParagraphXsmallFontWeight: 600;
  --bdsTypographyParagraphXsmallLineHeight: 1.833333333;
  --bdsTypographyParagraphXsmallSecondaryFontFamily: "Open Sans";
  --bdsTypographyParagraphXsmallSecondaryFontSize: 0.75rem;
  --bdsTypographyParagraphXsmallSecondaryFontWeight: 400;
  --bdsTypographyParagraphXsmallSecondaryLineHeight: 1.833333333;
  --bdsTypographyRibbonBaseFontFamily: "Open Sans";
  --bdsTypographyRibbonBaseFontSize: 0.875rem;
  --bdsTypographyRibbonBaseFontWeight: 600;
  --bdsTypographyRibbonBaseLineHeight: 1.571428571;
  --bdsTypographyMiniBaseFontFamily: "Open Sans";
  --bdsTypographyMiniBaseFontSize: 0.625rem;
  --bdsTypographyMiniBaseFontWeight: 700;
  --bdsTypographyMiniBaseLineHeight: 1.6;
  --bdsSpacingXxxs: 2px;
  --bdsSpacingXxs: 4px;
  --bdsSpacingXs: 8px;
  --bdsSpacingSt: 12px;
  --bdsSpacingSm: 16px;
  --bdsSpacingMd: 24px;
  --bdsSpacingLg: 32px;
  --bdsSpacingXl: 48px;
  --bdsSpacingXxl: 64px;
  --bdsSpacingXxxl: 80px;
  --bdsElevationLow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
  --bdsElevationMedium: 0px 0px 48px 0px rgba(0, 0, 0, 0.24);
  --bdsElevationHigh: 0px 0px 96px 0px rgba(0, 0, 0, 0.24);
  --bdsMotionEasingEntrance: cubic-bezier(0, 0, 0.1, 1);
  --bdsMotionEasingExit: cubic-bezier(0.52, 0, 1, 1);
  --bdsMotionEasingStandard: cubic-bezier(0.22, 0.1, 0.1, 1);
  --bdsMotionEasingBounce: cubic-bezier(0.35, 0.12, 0.14, 1.42);
  --bdsMotionDelay50: 50ms;
  --bdsMotionDelay100: 100ms;
  --bdsMotionDelay150: 150ms;
  --bdsMotionDelay400: 400ms;
  --bdsMotionDelay600: 600ms;
  --bdsMotionDuration100: 100ms;
  --bdsMotionDuration150: 150ms;
  --bdsMotionDuration200: 200ms;
  --bdsMotionDuration250: 250ms;
  --bdsMotionDuration300: 300ms;
  --bdsMotionDuration350: 350ms;
  --bdsMotionDuration400: 400ms;
  --bdsMotionDuration450: 450ms;
  --bdsMotionDuration500: 500ms;
  --bdsMotionDuration600: 600ms;
  --bdsGridMinWidthSm: 528px;
  --bdsGridMinWidthMd: 768px;
  --bdsGridMinWidthLg: 960px;
  --bdsGridMinWidthXl: 1264px;
  --bdsGridMaxWidthSm: 767px;
  --bdsGridMaxWidthMd: 959px;
  --bdsGridMaxWidthLg: 1263px;
  --bdsGridMaxWidthXl: 1440px;
  --bdsGridColSm: 6;
  --bdsGridColMd: 6;
  --bdsGridColLg: 12;
  --bdsGridColXl: 12;
  --bdsGridGutterSm: 16px;
  --bdsGridGutterMd: 16px;
  --bdsGridGutterLg: 24px;
  --bdsGridGutterXl: 24px;
  --bdsGridMarginSm: 16px;
  --bdsGridMarginMd: 16px;
  --bdsGridMarginLg: 32px;
  --bdsGridMarginXl: 64px;
  --bdsZindexSurfaceBase: 1;
  --bdsZindexSurfaceRaised: 1;
  --bdsZindexSurfacePeaked: 1;
  --bdsZindexLowBase: 100;
  --bdsZindexLowRaised: 125;
  --bdsZindexLowPeaked: 150;
  --bdsZindexMediumBase: 200;
  --bdsZindexMediumRaised: 225;
  --bdsZindexMediumPeaked: 250;
  --bdsZindexHighBase: 300;
  --bdsZindexHighRaised: 325;
  --bdsZindexHighPeaked: 350;
  --colorErrorRgb: 224, 48, 0;
  --colorWarningRgb: 252, 197, 76;
  --colorSuccessRgb: 60, 130, 100;
  --colorInformationRgb: 39, 111, 191;
  --colorInteractionPrimaryRgb: 215, 15, 100;
  --colorRiderBanner: rgb(215, 15, 100);
  --colorTagDealBg: #e21b70;
  --colorTagPrimaryBg: #e21b70;
  --colorOverlayDark4: #0000000a;
  --colorOverlayDark64: #000000a3;
  --colorOverlayLight56: #ffffff8f;
  --colorOverlayLight80: #ffffffcc;
  --colorJokerPrimary: #1f4d5d;
  --colorJokerPrimaryBk: #e3e6e8;
  --colorJokerPrimaryBk2: #b9c0c6;
  --colorJokerSecondary: #ff2b85;
  --colorJokerSecondaryBk: #fad9e7;
  --colorJokerTertiary: #c21760;
  --colorJokerTertiaryBk: #fef6f9;
  --tileNavPrimary800: #d70f64;
  --tileNavPrimary700: #df3f83;
  --tileNavPrimary600: #e76fa2;
  --tileNavPrimary500: #ef9fc1;
  --tileListPrimary400: #f9d7db;
  --tileListPrimary300: #f9d7db;
  --tileListPrimary200: #f9d7db;
  --tileListPrimary100: #f9d7db;
  --tileNavSecondary800: #ffd271;
  --tileNavSecondary700: #ffdb8d;
  --tileNavSecondary600: #ffe4aa;
  --tileNavSecondary500: #ffe8b8;
  --tileListSecondary400: #ffe9b8;
  --tileListSecondary300: #ffe8b8;
  --tileListSecondary200: #ffe8b8;
  --tileListSecondary100: #ffe8b8;
  --tileNavTertiary800: #919da6;
  --tileNavTertiary700: #b9c0c6;
  --tileNavTertiary600: #c7cdd1;
  --tileNavTertiary500: #e3e6e8;
  --tileListTertiary400: #eef0f1;
  --tileListTertiary300: #eef0f1;
  --tileListTertiary200: #eef0f1;
  --tileListTertiary100: #eef0f1;
}
